# Same as gitignore, except we *do* want transpiled files


# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# OS X
.DS_Store

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules




